
@import "setup";

@mixin fontSize($number){
	font-size: $number *1px;
	font-size: ($number/10)* 1rem;
}
// @mixin fontSize($number)

$titleFont:'Roboto Condensed', sans-serif;
$bodyFont:'Source Sans Pro', sans-serif;
$teal: #4ae5d1;
$white: #ffffff;
$fontblack: #222222;
$lightgrey: #c2c2c2;
$footblack: #1b1b1b;
$navblack: #141414;

// General CSS

html{
	font-size: 62.5%;
}

body{
	@include fontSize(12);
	text-align:center;
}

h1{
	@include fontSize(12);
}

li{
	text-decoration: none;
	list-style:none;
}
h1, h2, h3{
	color:white;
	font-family: $titleFont;
	text-transform: uppercase;
}
h2{
    color: black;
    letter-spacing: .5rem;
    font-size: 3rem;
    }

h4{
	font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 200;
    color:white;
	font-family: $titleFont;
}
p{
	color: white;
	font-family: $bodyFont;
}
p{
	font-family: 'Source Sans Pro', sans-serif;}


button {
	background: $teal;
	color:white;
	border-radius: 10px;
	color: #ffffff;
	font-size: 10px;
	padding: 11px 33px 10px 31px;
	text-decoration: none;
	border:none;
	display:flex;
	transition: 1s;
  	img{
  		width:13%;
  	}
  	p{
  		width:20%;
  	}
  	a{
  		text-decoration: none;
  	}
}

button:hover {
  background: rgba(0,0,0, 0.5);
  text-decoration: none;
  border: 1px solid  $teal;
}


// End of General Css
// Header starts
header{
	background: url(assets/hero.jpg);
	background-size:cover;
	ul {
		display: flex;
		 justify-content: center;
	}
	button{
		padding: 20px 45px;
		font-size: 1.2rem;
		position:relative;
		
		img{
			position:absolute;
			left: 6%;
    		top: 28%
		}
	}
}


// Inner-wrapper for entire body
.inner-wrapper{
	max-width:1080px;
	width:80%;
	margin: 0 auto;
}

// logo
.logo{
	position:relative;
	bottom: 8px;
	h3{
		font-size: 2rem;
    	letter-spacing: 3px;
	}
}
.logo img{
		position: relative;
    	top: 11px;
}
// top nav bar
.topnav{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding-top: 60px;
	nav {
		display: flex;
		align-items: center;	
}

// Hamburger Menu

.visible{
	display: flex !important;
}

.fa-bars{
	color: white;
	display: none;
}

.rightnav {
	display: flex;
	li {
		padding: 9px;
		text-decoration: none;
		position: relative;
		font-size: 1.4rem;
		// &:hover {
		// 	color: rgba(0,0,0, 0.5);
		// 	.sub-menu{
		// 		display: block;
		// 		padding-left: 0px;
		// 		margin-left: -15px;
		// 		margin-top:15px;
		// 	}
		// }
	}
	a{
		text-decoration: none;
		color:white;
	}
}
.rightnav a:hover{
			color:rgba(0,0,0, 0.5);
		}

	.sub-menu {
		display: none;
		position:absolute;
	}
}

nav .fa .fa-bars{
	color: white;
}

.nav2{
	display: flex;
	flex:wrap;
	justify-content:space-between;
	// padding-top: 30px;
	ul{
		flex:1 0 33.33%;
		margin:0px;
	}
		li{
			padding:15px;
			text-decoration: none;
		}
			a{
				text-decoration: none;
				color:white;
			&:hover{
				background: rgba(0,0,0, 0.5);
				padding: 15px 15px;
				border: 1px solid rgba(255,255,255, 0.3);

			}
			}
}
// End of Navs
// Start of Header-Title

.header-title{
	max-width: 53vw;
	margin: 0 auto;
	padding:8%;
	button{
	    	margin:0 auto;
	}
}

.header-title h1 {
	font-size: 6rem;
    letter-spacing: 1rem;
    line-height: 6rem;
    font-weight: 600;

}
.bottom-header h4:hover{
	color: rgba(0,0,0, 0.5);
}
.bottom-header {
	background: rgba(0, 0, 0, 0.5);
	width:100%;
	padding: 40px;
	margin:0 auto;

	.inner-wrapper {
	    display: flex;
	    justify-content: space-between;
	}

	.bottom-header-text {
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
	}
}

.bottom-header button{
	margin-top: 30%;
}

.bottom-header-text	img{
		width:13%;
	}

// End of Header 
// Start of Sea-Tours
.tours-main{
    width: 100%;
    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0;
}
.button-box {
    padding-left: 10px;
}

.sea-tours h2, .special-offers h2, .most-popular h2{
	padding-top:5%;
}
	p{
	color: #c2c2c2;
}

.tours-gallery-top, .tours-gallery-bottom{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	justify-content:center;
	padding-left: 0;
}

.tours-box{
	flex: 1 0 calc(33.33% - 15px);
 	margin:7px;
  position: relative;
  transition: background-color 1s;
}
.tours-box:hover {
  background-color: rgba(0,0,0,.5);
}
.tours-box:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.offers-box{
  position: relative;
  transition: background-color 1s;
}
.offers-box:hover {
  background-color: rgba(0,0,0,.5);
}
.offers-box:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.popular-box{
	position: relative;
  	transition: background-color 1s;
}
.popular-box:hover {
  background-color: rgba(0,0,0,.5);
}
.popular-box:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}


.tour-location{
	padding:40px;
}
.tours-box button{
		margin-top: 25px;
		margin-left: 10px;
}

.tour-deal-left{
	padding-left:10px;
}
.heading{
	padding-bottom: 5%;
}

.bolivia{
	background: url(assets/tour-1.jpg) no-repeat;
	background-size: 100%;
}

.patagonia{
	background: url(assets/tour-2.jpg) no-repeat;
	background-size: 100%;
}

.torres{
	background: url(assets/tour-3.jpg) no-repeat;
	background-size: 100%;
}
.santorini{
	background: url(assets/tour-4.jpg) no-repeat;
	background-size: 100%;
}
.turkey{
	background: url(assets/tour-5.jpg) no-repeat;
	background-size:100%;
}
.china-tours{
	background: url(assets/tour-6.jpg) no-repeat;
	background-size: 100%;
}

.tours-gallery-bottom{
	display:flex;
}
.tours-deal{
	display: flex;
}


// End of Tours Section
// Start of Banner

.banner{
	background: url(assets/banner.jpg) no-repeat;
	background-size: cover;
	padding:3%;
	h3{
		padding-top: 5%;
	}
	h2{
		color:white;
	}
	p{
		color:white;
		padding-bottom: 5%;
	}
}

// End of Banner
// Start of Special-Offers

.greece{
	background: url(assets/greece.jpg) no-repeat;
	background-size: 100%;
}
.china{
	background: url(assets/china.jpg) no-repeat;
	background-size: 100%;
}
.canada{
	background: url(assets/canada.jpg) no-repeat;
	background-size: 100%;
}
.offers-gallery{
	display:flex;
	flex:wrap;
	justify-content:space-between;
	justify-content:center;
	padding-left: 0;
}

.offers-box{
	flex: 1 0 33.33%;
	text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 5%;
    margin-bottom: 5px;
    margin-right: 12px;
    h3{
    	font-size: 2.5rem;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 3px;
    }
	.offers-deal{
		padding-top: 100px;
	}
	p{
		color:white;
	}
	.offers-number{
		font-size: 17px;
		font-weight: bold;
		color:white;
	}
	.grey{
		color:#c2c2c2;
	}

}
	// End of Offers
	// Start of Most Popular

.popular-gallery-whole{
	width:50%;
}

.popular-gallery-top, .popular-gallery-bottom{
	display:flex;
	flex:wrap;
	justify-content:space-between;
	justify-content:center;
	padding-left: 0;
}

.popular-box{
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33%;
    -ms-flex: 1 0 33.33%;
    width: 48%;
    max-width: 100%;
    padding: 54px 30px 5px 0px;
    margin-bottom:3px;
	margin-right: 12px;
	text-align: left;
	padding-bottom: 6%;
	.pop-heading{
		padding:30px;
	}
	h4{
		font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;
	    text-transform: uppercase;
	    letter-spacing: 1.4px;
	    font-size: 1.8rem;
	}
	p{
		font-weight: 700;
    	color: white;
	}
	.green {
    	color: #00e6d1;
	}
}
.italy{
	background:url(assets/italymap.png) no-repeat;
	background-size:contain;
	button{
    	margin-top: 15px;
    }
}

.italy, .france{
	width:50%;
	text-align: left;
    padding:80px 35px 35px 35px;
	h3{
		color:black;
	}
}
.popular-top-section, .popular-bottom-section{
	display:flex;
	flex:wrap;
	justify-content:space-between;
	justify-content:center;
	padding-left: 0;
}

.italy1{
	background: url(assets/italy-small.jpg) no-repeat;
	background-size: cover;
}

.italy2{
	background: url(assets/italy-small2.jpg) no-repeat;
	background-size: cover;
}
.italy3{
	background: url(assets/italy-small3.jpg) no-repeat;
	background-size: cover;
}
.italy4{
	background: url(assets/italy-small4.jpg) no-repeat;
	background-size: cover;
}
	// End of Italy
	// Most Popular Italy Best  Cities 

.italy h4{
		color:black;
}
.best-cities{
	display:flex;
	justify-content: space-between;
	flex-direction:row;
	ul{
		padding-left:0;
		list-style-position: inside;
	}
	li{
		line-height: 2;
		list-style-type: circle;

	}
}
.best-cities ul li{
	width: 33.33%;
}

	// Start of Most Popular France text
	// Start of Most Popular France Gallery

.france{
	background: url(assets/francemap.jpg) no-repeat;
    background-size: contain;
    text-align: right;
    ul li{
    	text-align: right;
    }
    button{
    	margin: 5% 0px 0px 60%;
    	text-align: right;
    }
}
.france1{
	background: url(assets/francesmall1.jpg) no-repeat;
	background-size: cover;
}

.france2{
	background: url(assets/francesmall2.jpg) no-repeat;
	background-size: cover;
}
.france3{
	background: url(assets/francesmall3.jpg) no-repeat;
	background-size: cover;
}
.france4{
	background: url(assets/francesmall4.jpg) no-repeat;
	background-size: cover;
}

// End of Most Popular Section
// Start of Footer

// Start of Footer1 Demensions

.subscribe{
	width:20%;
}

.footer-logo{
	width:25%;
}
.footer-tours{
	width:20%;
}
.footer-popular{
	width:20%;
}

.footer-follow{
	width:17%;
	display:flex;
	flex-direction:column;
}

// End of Footer1 Demensions
// Footer 1
.footer1 .logo h3{
	font-size: 2.2rem;
    font-weight: 400;
}

 .footer1{
	background: rgb(27,27,27);
	max-width: 100%;
	padding: 65px 0;
	.footer-title{
		text-align: left;
	}
}

.footer1 .inner-wrapper{
	display: flex;
	justify-content:space-between;
	ul{
		list-style: none;
		text-align: left;
		padding-left:0;
		}
		li a{
			text-decoration: none;
			color:#c2c2c2;
			line-height: 2;
		}
	}


.footer-follow a.social{
	margin:2px;
	text-decoration: none;
	padding: 10px 0 10px 10px;
	border-radius: 5px;
	position:relative;
	text-align: left;
	i{
		padding-right:10px;
		color:white;
	}
	.follow-count{
		background: white;
		padding: 10px;
    	border-radius: 5px;
    	margin-left: 5px;
    	position:absolute;
    	right:0;
    	top:0;
	}
}

.footer1 {
	h4{
		font-size: 1.3rem;
	}
	.logo{
		padding-top: 50px;
	}
	.footer-tours .footer-title h4{
		text-transform: uppercase;
	}
}


.footer-tours ul{
	padding-top: 12px;
	li{
		padding: 13px 0 0 0;
	}
}

.pop-footer{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	 ul{
		padding-left: 0;
	}
	li{
		width:50%;
		padding: 13px 0 0 0;
	}
}

.pop-right{
	padding-right: 78px;
}

.follow-wrapper{
	width:9.5vw;
	margin: 0 auto;
}

// social colors
 .footer-follow a.facebook{
background-color: rgb(59,89,152); 
}

.footer-follow a.twitter {
background-color: rgb(85,172,238);
}
.footer-follow a.google-plus{
 background-color: rgb(211,72,54);
}

.footer-follow a.pinterest{
	background-color: rgb(201,34,40);
} 
// end of social colors

footer .footer2 .inner-wrapper ul{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}
footer ul li a{
	list-style: none;
}

.footer-follow h4{
	margin-bottom: 50px
}

// Subscribe
.subscribe{
	 margin-left: 50px;
	.footer-title h4{
		margin-bottom: 50px
	}
	a{
		text-decoration: none;
	}
}

footer .email-wrapper {
    position: relative;
    margin-bottom: 10px;
}

footer .email-wrapper img {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

footer input[type=email] {
    border: 1px solid #767676;
    background: none;
    width: 100%;
    border-radius: 5px;
    color: #767676;
    padding: 15px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

footer input[type=submit] {
    background: #00e6d1;
    border: 2px solid #00e6d1;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer input[type=submit]:hover {
  background: none;
}
// End of Subscribe
// End of Footer1
// Start of Footer2

.footer2 ul li a  h5{
    text-transform: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 20px;
}

.footer2{
	background: #141414;
	width: 100%;
	ul li{
		padding:13px 0 0 0;
		text-transform: uppercase;
	}
	a{
		text-decoration: none;
	}
	h5{
		color: white;
	    margin: 0;
	    padding: 0 0 20px 0;
	    font-size: 1.3rem;
	}
}
.footer2 .inner-wrapper{
	width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px
}

// End of Footer
// Start of Media Queries
// Max-width:1140
@media (max-width: 1140px) {
	.tours-deal{
		display:none;
	}
	.offer-box{
	    flex: 1 0 33.33%;
	    text-align: left;
	    padding-left: 30px;
	    padding-top: 30px;
	    padding-bottom: 40px;
	    margin-bottom: 3px;
	    margin-right: 12px;
	    // height:51vh;
	}
	.offers-deal{
		display:none;
	}
// Max-width:940
@media (max-width: 940px) {
.bottom-header, .nav2{
		display:none;
	}
	.tours-box {
	    // width: 50vh;
	    margin: 0 auto;
	}
	.tours-box{
		flex: 1 0 49%;
		margin: 3px;
    	padding:5%;
	}
	.popular-top-section, .popular-bottom-section{
		flex-direction:column;
		flex-wrap: wrap;
		margin:0 auto;
	}
	.popular-gallery-whole, .italy , .france{
		width: 100%;
		font-size: 1.5rem;
	}
	.popular-box{
    // padding: 54px 30px 5px 0px;
    margin-bottom: 3px;
    margin-right: 12px;
    text-align: left;
	}
	.footer-follow{
		width: 25%;
		margin:0;
	}
	.subscribe{
		width:35%;
	}
}
/* Landscape phone to portrait tablet */
@media  all and (max-width: 767px) {
	.tours-box {
	    flex: 1 0 40%;
	    margin: 3px;
	}
	.fa-bars{
		display:block;
		cursor:pointer;
		color:white;
	}
	
	.offers-gallery{
		flex-direction:column;
	}
	.offers-box {
	    text-align: left;
	    padding-left: 30px;
	    padding:10%;
	    padding-top: 15%;
    	padding-bottom: 79%;
	}
	ul.rightnav{
		display:none !important;
		position:fixed;
		top:0;
		left:0;
		height:100%;
		background: white;
		width:100%;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	.header-title h1{
		font-size: 3rem;
	}
	.sub-menu{
		display:none;
	}
	.topnav .fa-bars{
		display:inline-block;
		cursor:pointer;
		color:white;
	}
	ul.rightnav li{
		flex:1 0 auto;

	}
	ul.rightnav li a{
		color:black;
		font-size: 2.5rem;
	}
	.footer-follow{
		display: none;
	}

/* Landscape phones and down */
@media all and (max-width: 480px){

	ul.rightnav{
		display:none !important;
		position:fixed;
		top:0;
		left:0;
		height:100%;
		background: white;
		width:100%;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	.header-title h1{
		font-size: 3rem;
	}
	.sub-menu{
		display:none;
	}
	.fa-bars{
		display:inline-block;
		cursor:pointer;
		color:white;
	}
	ul.rightnav li{
		flex:1 0 auto;

	}
	ul.rightnav li a{
		color:black;
		font-size: 2.5rem;
	}
	.tours-box {
	    flex: 1 0 80%;
	    margin: 10px;
	}

	.tours-gallery-top, .tours-gallery-bottom, .offers-gallery, .popular-gallery-top, .popular-gallery-bottom, .popular-bottom-section, .italy, .footer-logo, .footer-popular, .footer-follow, .susbscribe, footer .inner-wrapper {
		flex-direction:column;
	}
	.footer-logo, .footer-popular,  .susbscribe{
		width: 100%;
	}
	.footer-follow{
		width: 60%;
	}

	.popular-box {
	    width:100%;
	    margin: 10px;
	    color: white;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    padding-bottom: 55%;
	}

	.italy, .france{
		padding:0;
		width:75vw;
		h3{
			font-size:2rem;
		}
		p{
			font-size: 1.5rem;
		}
		h4{	
			font-size: 1.8rem;
		}
	}
	.france button{
		margin:0;
	}
	.italy ul {
		margin:40px;
	}

	footer input[type=email] {
    	padding: 15px 105px;
	}
	footer input[type=submit] {
    	padding: 15px 105px
	}
	.footer1{
		.footer-logo{
			text-align: left;
			font-size: 3rem;
		}
		.footer-title h4{
			text-align: left;
			font-size: 25px;
		}
	}
	.footer-tours{
		width: 100%;
		text-align: left;
		font-size:18px;
	}
	.footer1 h4{
		text-align: center;
	}
	.footer-logo, .footer-popular,  .susbscribe{
		width: 100%;
	}
	.footer-follow{
		width: 60%;
		margin:0;
	}
	.subscribe{
		margin:0;
	}

}
}
}


				
				