article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  font-size: 1.2rem;
  max-width: 1280px;
  text-align: center;
}

h1 {
  font-size: 12px;
  font-size: 1.2rem;
}

li {
  text-decoration: none;
  list-style: none;
}

h1, h2, h3 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: black;
  letter-spacing: .5rem;
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 200;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  background: #4ae5d1;
  color: white;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  padding: 11px 33px 10px 31px;
  text-decoration: none;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

button img {
  width: 13%;
}

button p {
  width: 20%;
}

button:hover {
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border: 1px solid #4ae5d1;
}

header {
  background: url(assets/hero.jpg);
  background-size: cover;
}

header ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header button {
  padding: 20px 45px;
  font-size: 1.2rem;
  position: relative;
}

header button img {
  position: absolute;
  left: 6%;
  top: 28%;
}

.inner-wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

.logo {
  position: relative;
  bottom: 8px;
}

.logo h3 {
  font-size: 2rem;
  letter-spacing: 3px;
}

.logo img {
  position: relative;
  top: 11px;
}

.topnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.topnav nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav .visible {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.topnav .fa-bars {
  color: white;
  display: none;
}

.topnav .rightnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.topnav .rightnav li {
  padding: 9px;
  text-decoration: none;
  position: relative;
}

.topnav .rightnav li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.topnav .rightnav li:hover .sub-menu {
  display: block;
  padding-left: 0px;
  margin-left: -15px;
  margin-top: 15px;
}

.topnav .rightnav a {
  text-decoration: none;
  color: white;
}

.topnav .sub-menu {
  display: none;
  position: absolute;
}

nav .fa .fa-bars {
  color: white;
}

.nav2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -webkit-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav2 ul {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.33%;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  margin: 0px;
}

.nav2 li {
  padding: 15px;
  text-decoration: none;
}

.nav2 a {
  text-decoration: none;
  color: white;
}

.nav2 a:hover {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-title {
  max-width: 53vw;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 130px;
}

.header-title button {
  margin: 0 auto;
}

.header-title h1 {
  font-size: 6rem;
  letter-spacing: 1rem;
  line-height: 6rem;
  font-weight: 600;
}

.bottom-header {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}

.bottom-header .inner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header .bottom-header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-header button {
  margin-top: 30%;
}

.bottom-header-text img {
  width: 13%;
}

.tours-main {
  width: 100%;
  margin: 0 auto 100px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.button-box {
  padding-left: 10px;
}

.sea-tours h2, .special-offers h2, .most-popular h2 {
  padding-top: 70px;
}

p {
  color: #c2c2c2;
}

.tours-gallery-top, .tours-gallery-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.tours-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 -webkit-calc(33.33% - 15px);
      -ms-flex: 1 0 calc(33.33% - 15px);
          flex: 1 0 calc(33.33% - 15px);
  margin: 7px;
}

.tour-location {
  padding: 40px;
}

.tours-box button {
  margin-top: 25px;
  margin-left: 10px;
}

.tour-deal-left {
  padding-left: 10px;
}

.heading {
  padding-bottom: 60px;
}

.bolivia {
  background: url(assets/tour-1.jpg) no-repeat;
  background-size: 100%;
}

.patagonia {
  background: url(assets/tour-2.jpg) no-repeat;
  background-size: 100%;
}

.torres {
  background: url(assets/tour-3.jpg) no-repeat;
  background-size: 100%;
}

.santorini {
  background: url(assets/tour-4.jpg) no-repeat;
  background-size: 100%;
}

.turkey {
  background: url(assets/tour-5.jpg) no-repeat;
  background-size: 100%;
}

.china-tours {
  background: url(assets/tour-6.jpg) no-repeat;
  background-size: 100%;
}

.tours-gallery-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tours-deal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  background: url(assets/banner.jpg) no-repeat;
  background-size: cover;
  padding: 30px 0px;
}

.banner h3 {
  padding-top: 50px;
}

.banner h2 {
  color: white;
}

.banner p {
  color: white;
  padding-bottom: 50px;
}

.greece {
  background: url(assets/greece.jpg) no-repeat;
  background-size: 100%;
}

.china {
  background: url(assets/china.jpg) no-repeat;
  background-size: 100%;
}

.canada {
  background: url(assets/canada.jpg) no-repeat;
  background-size: 100%;
}

.offers-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -webkit-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.offers-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.33%;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 3px;
  margin-right: 12px;
  height: 61vh;
}

.offers-box h3 {
  font-size: 2.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.offers-box .offers-deal {
  padding-top: 100px;
}

.offers-box p {
  color: white;
}

.offers-box .offers-number {
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.offers-box .grey {
  color: #c2c2c2;
}

.popular-gallery-whole {
  width: 50%;
}

.popular-gallery-top, .popular-gallery-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -webkit-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.popular-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 33.33%;
  -ms-flex: 1 0 33.33%;
  width: 48%;
  max-width: 100%;
  padding: 54px 30px 5px 0px;
  margin-bottom: 3px;
  margin-right: 12px;
  text-align: left;
}

.popular-box .pop-heading {
  padding: 30px;
}

.popular-box h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 1.8rem;
}

.popular-box p {
  font-weight: 700;
  color: white;
}

.popular-box .green {
  color: #00e6d1;
}

.italy {
  background: url(assets/italymap.png) no-repeat;
  background-size: contain;
}

.italy button {
  margin-top: 15px;
}

.italy, .france {
  width: 50%;
  text-align: left;
  padding: 80px 35px 35px 35px;
}

.italy h3, .france h3 {
  color: black;
}

.popular-top-section, .popular-bottom-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
  -webkit-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.italy1 {
  background: url(assets/italy-small.jpg) no-repeat;
  background-size: cover;
}

.italy2 {
  background: url(assets/italy-small2.jpg) no-repeat;
  background-size: cover;
}

.italy3 {
  background: url(assets/italy-small3.jpg) no-repeat;
  background-size: cover;
}

.italy4 {
  background: url(assets/italy-small4.jpg) no-repeat;
  background-size: cover;
}

.italy h4 {
  color: black;
}

.best-cities {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.best-cities ul {
  padding-left: 0;
  list-style-position: inside;
}

.best-cities li {
  line-height: 2;
  list-style-type: circle;
}

.best-cities ul li {
  width: 33.33%;
}

.france {
  background: url(assets/francemap.jpg) no-repeat;
  background-size: contain;
  text-align: right;
}

.france ul li {
  text-align: right;
}

.france button {
  margin: 5% 0px 0px 60%;
  text-align: right;
}

.france1 {
  background: url(assets/francesmall1.jpg) no-repeat;
  background-size: cover;
}

.france2 {
  background: url(assets/francesmall2.jpg) no-repeat;
  background-size: cover;
}

.france3 {
  background: url(assets/francesmall3.jpg) no-repeat;
  background-size: cover;
}

.france4 {
  background: url(assets/francesmall4.jpg) no-repeat;
  background-size: cover;
}

.subscribe {
  width: 20%;
}

.footer-logo {
  width: 25%;
}

.footer-tours {
  width: 20%;
}

.footer-popular {
  width: 20%;
}

.footer-follow {
  width: 17%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer1 .logo h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

.footer1 {
  background: #1b1b1b;
  max-width: 100%;
  padding: 65px 0;
}

.footer1 .footer-title {
  text-align: left;
}

.footer1 .inner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer1 .inner-wrapper ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.footer1 .inner-wrapper li a {
  text-decoration: none;
  color: #c2c2c2;
  line-height: 2;
}

.footer-follow a.social {
  margin: 2px;
  text-decoration: none;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  position: relative;
  text-align: left;
}

.footer-follow a.social i {
  padding-right: 10px;
  color: white;
}

.footer-follow a.social .follow-count {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.footer1 h4 {
  font-size: 1.3rem;
}

.footer1 .logo {
  padding-top: 50px;
}

.footer1 .footer-tours .footer-title h4 {
  text-transform: uppercase;
}

.footer-tours ul {
  padding-top: 12px;
}

.footer-tours ul li {
  padding: 13px 0 0 0;
}

.pop-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pop-footer ul {
  padding-left: 0;
}

.pop-footer li {
  width: 50%;
  padding: 13px 0 0 0;
}

.pop-right {
  padding-right: 78px;
}

.follow-wrapper {
  width: 9.5vw;
  margin: 0 auto;
}

.footer-follow a.facebook {
  background-color: #3b5998;
}

.footer-follow a.twitter {
  background-color: #55acee;
}

.footer-follow a.google-plus {
  background-color: #d34836;
}

.footer-follow a.pinterest {
  background-color: #c92228;
}

footer .footer2 .inner-wrapper ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

footer ul li a {
  list-style: none;
}

.footer-follow h4 {
  margin-bottom: 50px;
}

.subscribe {
  margin-left: 50px;
}

.subscribe .footer-title h4 {
  margin-bottom: 50px;
}

footer .email-wrapper {
  position: relative;
  margin-bottom: 10px;
}

footer .email-wrapper img {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer input[type=email] {
  border: 1px solid #767676;
  background: none;
  width: 100%;
  border-radius: 5px;
  color: #767676;
  padding: 15px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

footer input[type=submit] {
  background: #00e6d1;
  border: 2px solid #00e6d1;
  color: white;
  width: 100%;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer input[type=submit]:hover {
  background: none;
}

.footer2 ul li a h5 {
  text-transform: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 20px;
}

.footer2 {
  background: #141414;
  width: 100%;
}

.footer2 ul li {
  padding: 13px 0 0 0;
  text-transform: uppercase;
}

.footer2 h5 {
  color: white;
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 1.3rem;
}

.footer2 .inner-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}

@media (max-width: 1140px) {
  .tours-deal {
    display: none;
  }
  .offer-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33%;
        -ms-flex: 1 0 33.33%;
            flex: 1 0 33.33%;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 3px;
    margin-right: 12px;
    height: 51vh;
  }
  .offers-deal {
    display: none;
  }
}

@media (max-width: 1140px) and (max-width: 940px) {
  .bottom-header, .nav2 {
    display: none;
  }
  .tours-box {
    width: 50vh;
    margin: 0 auto;
  }
  .tours-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 49%;
        -ms-flex: 1 0 49%;
            flex: 1 0 49%;
    margin: 3px;
    width: 40vh;
    height: 50vh;
  }
  .popular-top-section, .popular-bottom-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 auto;
  }
  .popular-gallery-whole, .italy, .france {
    width: 100%;
    font-size: 1.5rem;
  }
  .popular-box {
    padding: 54px 30px 5px 0px;
    margin-bottom: 3px;
    margin-right: 12px;
    text-align: left;
    height: 52vh;
  }
  .footer-follow {
    width: 25%;
    margin: 0;
  }
  .subscribe {
    width: 35%;
  }
}

@media all and (max-width: 1140px) and (max-width: 767px) {
  .tours-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 40%;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    margin: 3px;
    width: 30vh;
    height: 40vh;
  }
  .fa-bars {
    display: block;
    cursor: pointer;
    color: white;
  }
  .offers-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers-box {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    width: 49vh;
    height: 61vh;
    margin: 0 auto;
  }
  ul.rightnav {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-title h1 {
    font-size: 3rem;
  }
  .sub-menu {
    display: none;
  }
  .topnav .fa-bars {
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  ul.rightnav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  ul.rightnav li a {
    color: black;
    font-size: 2.5rem;
  }
  .footer-follow {
    display: none;
  }
  /* Landscape phones and down */
}

@media all and (max-width: 1140px) and (max-width: 767px) and (max-width: 480px) {
  ul.rightnav {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-title h1 {
    font-size: 3rem;
  }
  .sub-menu {
    display: none;
  }
  .fa-bars {
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  ul.rightnav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  ul.rightnav li a {
    color: black;
    font-size: 2.5rem;
  }
  .tours-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 80%;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
    margin: 10px;
    width: 30vh;
    height: 40vh;
  }
  .tours-gallery-top, .tours-gallery-bottom, .offers-gallery, .popular-gallery-top, .popular-gallery-bottom, .popular-bottom-section, .italy, .footer-logo, .footer-popular, .footer-follow, .susbscribe, footer .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo, .footer-popular, .susbscribe {
    width: 100%;
  }
  .footer-follow {
    width: 60%;
  }
  .popular-box {
    width: 80vw;
    height: 43vh;
    margin: 10px;
    color: white;
    padding: 10px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .italy, .france {
    padding: 0;
    width: 75vw;
  }
  .italy h3, .france h3 {
    font-size: 2rem;
  }
  .italy p, .france p {
    font-size: 1.5rem;
  }
  .italy h4, .france h4 {
    font-size: 1.8rem;
  }
  .france button {
    margin: 0;
  }
  .italy ul {
    margin: 40px;
  }
  footer input[type=email] {
    padding: 15px 105px;
  }
  footer input[type=submit] {
    padding: 15px 105px;
  }
  .footer1 .footer-logo {
    text-align: left;
    font-size: 3rem;
  }
  .footer1 .footer-title h4 {
    text-align: left;
    font-size: 25px;
  }
  .footer-tours {
    width: 100%;
    text-align: left;
    font-size: 18px;
  }
  .footer1 h4 {
    text-align: center;
  }
  .footer-logo, .footer-popular, .susbscribe {
    width: 100%;
  }
  .footer-follow {
    width: 60%;
    margin: 0;
  }
  .subscribe {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */